/* Styles for the Acknowledgment Page */

/* Centering text in the container */
.container {
    text-align: center;
  }
  
  /* Styling individual contributors and organizational supporters */
  .col-md-6 {
    margin-top: 30px;
  }
  
  h2 {
    color: #007bff;
  }
  
  ul {
    list-style-type: none;
    padding-left: 0;
  }
  
  ul li {
    margin-bottom: 10px;
  }
  
  /* Adding some spacing between sections */
  .container > .row {
    margin-top: 50px;
  }
  